
.home,.read{background-size:cover}
.content,.header-1,.read{display:flex}
.read,.read img,.slider{position:relative}
.dot,.dotsbox,.next,.prev{cursor:pointer}:root{--green:#27ae60;--dark-color:#219150;--black:#444}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;text-decoration:none;text-transform:capitalize}
body{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;height:390vh}.header-1{background-color:#a4c639;height:46px;line-height:46px;justify-content:space-between;align-items:center;padding:1.5rem}
.header-1 .p1{margin-left:95px ;justify-content: space-between;}.header-1 .p1 a{color:#f0f8ff;font-weight:600;margin:20px;font-size:20px}
.header-1 .p1 a:hover,.header-1 .p2 a:hover{color:#444}.header-1 .p2{margin-right:91px}
.header-1 .p2 a{color:#f0f8ff;margin:23px;font-size:17px}.home{background-color:#fff;height:100vh}
.home .header-2{display:flex;justify-content:space-between;align-items:center;margin:40px}
.home .logo{color:#043d3d;font-weight:800;font-size:30px;margin-left:14px;font-family:Verdana,Geneva,Tahoma,sans-serif}
.info h2,.info h4,.services .title{font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;text-align:center}
.home .header-2 a{font-weight:600;margin:23px;font-size:20px;font-family:'Franklin Gothic Medium','Arial Narrow',Arial,sans-serif;color:#000}
.services .title{margin-top:60px}.services .title h2{font-size:35px;margin-bottom:12px;color:#1e1e1e}
.read span,.services .title span{color:#a4c639}.services .title p{color:#615f5f;letter-spacing:1px}
.content img{margin-left:41px}.content{justify-content:center;flex-direction:row;flex-wrap:nowrap}
.card{background-color:#f0f8ff;box-shadow:0 0 35px rgba(1 1 1/0%);border-radius:10px;padding:25px;margin:30px;transition:.7s}
.card:hover{transform:scale(1.04);cursor:pointer}.info h2{margin-bottom:10px;color:#1e1e1e}
.info h4{margin-bottom:13px;font-weight:700;font-size:20px}
.info p{text-align:center;margin-left:35px;line-height:2rem}
.info .view1{position:absolute;text-align:center}
.info .view{background-color:#30b1a5;color:#fff;font-size:1.2em;font-weight:600;display:inline-block;padding:.48em 1.15em;letter-spacing:1px;border-radius:19px;transition:.8s;text-align:center;margin-top:20px}
.info .view:hover{background-color:#a4c639;transition:.5s}
.read{margin-top:140px;background-image:url(./image/https-_specials-images.forbesimg.com_imageserve_5f8e0aaafeac9889106b860f_0x0.png-cropX10cropX21462cropY1115cropY21211\ \(1\).png);background-color:#fff;background-position:center center;background-repeat:no-repeat;background-attachment:fixed;padding:140px 0;color:#fff;justify-content:space-between}
.read img{margin-left:100px;z-index:2;text-align:center;flex:1}
.read::before{content:"";position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgb(0 0 0 /60%)}
.read p{color:#fff;font-size:20px;padding-left:62px;text-align:center}.info{margin:20px 10px;top:-120%;z-index:2}
.read h2{color:#8bd9db;font-weight:900;padding-right:40px;text-align:center}
.slider{width:100%;background:#2c3e50}.myslide{height:655px;display:none;overflow:hidden}
.next,.prev{position:absolute;top:50%;transform:translate(0,-50%);font-size:50px;padding:15px;color:#fff;transition:.1s;user-select:none}
.next:hover,.prev:hover{color:#00a7ff}
.next{right:0}.dotsbox{position:absolute;left:50%;transform:translate(-50%);bottom:20px}
.dot{display:inline-block;width:15px;height:15px;border:3px solid #fff;border-radius:50%;margin:0 10px}
.active,.dot:hover{border-color:#00a7ff}
.fade{-webkit-animation-name:fade;-webkit-animation-duration:1.5s;animation-name:fade;animation-duration:1.5s}@-webkit-keyframes fade{from{opacity:.8}to{opacity:1}}@keyframes fade{from{opacity:.8}to{opacity:1}}
.txt,.txt2,.txt5{position:absolute;color:#fff;letter-spacing:2px;line-height:35px;top:40%;left:15%;-webkit-animation-name:posi;-webkit-animation-duration:2s;animation-name:posi;animation-duration:2s;z-index:1}
.txt h1,.txt2 h1,.txt5 h1{color:#00a7ff;font-size:50px;margin-bottom:20px}
.txt p,.txt2,.txt5 p{font-weight:700;font-size:20px}
.txt2,.txt5 p{color:#000}@-webkit-keyframes posi{from{left:25%}to{left:15%}}@keyframes posi{from{left:25%}to{left:15%}}
img .myslide{transform:scale(1.5,1.5);-webkit-animation-name:zoomin;-webkit-animation-duration:40s;animation-name:zoomin;animation-duration:40s}@-webkit-keyframes zoomin{from{transform:scale(1,1)}to{transform:scale(1.5,1.5)}}@keyframes zoomin{from{transform:scale(1,1)}to{transform:scale(1.5,1.5)}}@media screen and (max-width:800px){
.myslide{height:500px}.txt{letter-spacing:2px;line-height:25px;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-animation-name:posi2;-webkit-animation-duration:2s;animation-name:posi2;animation-duration:2s}@-webkit-keyframes posi2{from{top:35%}to{top:50%}}@keyframes posi2{from{top:35%}to{top:50%}}
.txt h1{font-size:40px}.txt p{font-size:13px}}@media screen and (max-width:520px){
    .txt h1{font-size:30px;margin-bottom:20px}.sign{margin-right:20px}.sign a{font-size:12px}}
  /*footer*/
    footer{
        display: flex;
        flex-wrap: wrap;
        margin-top: 190px;
        background-color: #2d2e33;
        padding: 60px 10%;
    }
    
    ul{
        list-style: none;
    }
    
    .footer-col{
        width: 25%;
    }
    
    .footer-col .kholeo ,h4{
        position: relative;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 33px;
        font-weight: 700;
        color: #f1bc0d;
        text-transform: capitalize;
    }
    
    .footer-col .product ::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        background-color: #27c0ac;
        height: 2px;
        width: 40px;
    }
    
    ul li:not(:last-child){
        margin-bottom: 8px;
    }
    
    ul li a{
        display: block;
        font-size: 19px;
        text-transform: capitalize;
        color: #bdb6b6;
        text-decoration: none;
        transition: 0.4s;
    }
    
    ul li a:hover{
        color: white;
        padding-left: 2px;
    }
    
    .links a{
        display: inline-block;
        height: 44px;
        width: 44px;
        color: white;
        background-color: rgba(40, 130, 214, 0.8);
        margin: 0 8px 8px 0;
        text-align: center;
        line-height: 44px;
        border-radius: 50%;
        transition: 0.4s;
    }
    
    .links a:hover{
        color: #4d4f55;
        background-color: white;
    }
    
    @media(max-width: 740px){
        .footer-col{
            width: 50%;
            margin-bottom: 30px;
            text-align: center;
        }
    
        .footer-col h4::before{
            all: unset;
        }
    }
    
    @media(max-width: 555px){
        .footer-col{
            width: 100%;
        }
    }
/*side bar */
#check {
    display: none;
  }
  
  label #btn,
  label #cancle {
    position: absolute;
    cursor: pointer;
    color: rgb(4, 145, 216);
    border-radius: 3px;
  }
   
  label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: rgb(14, 186, 243);
    padding: 6px 23px;
    transition: all 0.5s;
  }
  #cancle {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 10px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all 0.5s;
  }
  /* active side bar */
  .sidebar {
    position: absolute;
    left: -250px;
    width: 110px;
   
    transition: all 0.5s ease;
     
     
  }
  #check:checked ~ .sidebar {
    left: 0;
  }
  #check:checked ~ label #btn {
    left: 70px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancle {
    left: 85px;
  }
  #check:checked ~ section {
 margin-left: 100px;
}
  .sidebar header {
    font-size: 4px;
    text-align: center;
    line-height: 10px;
    background: transparent;
    user-select: none;
  }
  .sidebar header p {
    padding: 5px;
  }
   
  .sidebar ul a {
    background-color: transparent;
    display: block;
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 96px;
    font-size: 26px;
    color:aqua;
    color:#0687cd;
    padding: 0px;
    box-sizing: border-box;
    margin: 10px; 
    transition: 0.4s;
  }
  
  .sidebar ul a i {
    margin-left: 22px;
  }
  /* hover effect */
  ul li:hover a {
    padding-left: 20px;
    color: rgb(119, 188, 213);
    box-shadow: inset -1px -1px 2px #dde1e7;
}
        
/*start media */
@media(min-width: 768px){
  .header-1 .toggle-menu{
      display:none;
}
.header-2 .toggle-menu{
  display: none;
}
}

@media(max-width:750px){
  .header-1 .p1{
      margin: 10px;
  }
  .header-1 .p1 a {
      font-size: 12px;
      font-weight: 600;
}
  .header-1 .p2 ul {
         display: none;
  }
  .header-1  .toggle-menu{
      position: absolute;
      padding-left: 72px;
      top:17px;
  }
  .header-1 .p2 .toggle-menu:hover + ul {
      display: block;
      font-size: 12px;        
      flex-direction: column;
      position: absolute;
      right: 35px;
      cursor: pointer;
      width:3%;
  }
  .header-1 .p2 .toggle-menu:hover + ul a{
      margin: 12px;
      color:rgb(30, 27, 27);
      font-size: 16px;
       position: relative;
      z-index: 2;
      
  }
  .header-2 {
      justify-content: space-between;
  }
  .home .header-2 .logo img{
      display: none;
  }
  .home .header-2 .logo p{
      font-size:18px;
      color: black;
  }
  
  
  .header-2 .navbar ul  {
      display: none;
}
  .header-2 .toggle-menu{
      position: absolute;
      right: 22px;
      top:63px;
      cursor: pointer;
      font-size: 17px;
      color: #064666;

  }
  .header-2 .navbar .toggle-menu:hover + ul {
      display: flex;
      font-size: 12px;        
      flex-direction: row;
      position: absolute;
      right: 1px;
      cursor: pointer;
      width:100%;

  }
  .header-2 .navbar .toggle-menu:hover + ul a{
    
      line-height: 2px;
      letter-spacing: px;
      margin-bottom: 1px;
      font-size: 17px;
      font-weight: 800;
      display: flex;
      color:rgb(221, 5, 5);
    
      
  }
  
  .middle .txt h2{
     color: #064666;
     font-size: 48px;

  }
  .middle .txt p{
      color: #6b8027;
      
  }
  .services .content {
   display: block;

  }
}


/*end media */

















